.contact {
  padding: 80px 10%;
  background-color: #0f172a;
  color: #ffffff;
}

.section-title {
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 50px;
   color: #ffffff;
}

.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.contact-info h3 {
  font-size: 1.6rem;
  margin-bottom: 15px;
}

.contact-info p {
  color: #ffffff;
  margin-bottom: 20px;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
  font-size: 1rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #334155;
  font-size: 1rem;
  background-color: #020617;
  color: #ffffff;
}
.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #94a3b8;
}

.contact-form button {
  background-color: #000;
  color: #fff;
  padding: 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.contact-form button:hover {
  background-color: #333;
}
.highlight {
  color: #38bdf8; 
}
.success-msg {
  margin-top: 15px;
  color: #22c55e;
  font-weight: 600;
  text-align: center;
}


/* Responsive */
@media (max-width: 768px) {
  .contact-container {
    grid-template-columns: 1fr;
  }
}
