.hero {
  width: 100%;
   min-height: calc(100vh - 80px);
  background-image:
    linear-gradient(
      rgba(2, 6, 23, 0.75),
      rgba(2, 6, 23, 0.75)
    ),
    url("../assets/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 80px;
 

  
}

.hero-overlay {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 80px;
}

.hero-container {
  max-width: 900px;
  padding: 0 20px;
  margin-left: 80px;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.hero-content h1 span {
  color: #38bdf8;
}

.hero-content h2 {
  font-size: 28px;
  color: #94a3b8;
  margin-bottom: 20px;
}

.hero-content p {
  max-width: 600px;
  line-height: 1.7;
  color: #e2e8f0;
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  gap: 20px;
}

.btn {
  padding: 12px 24px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
}

.primary {
  background-color: #38bdf8;
  color: #020617;
}

.secondary {
  border: 2px solid #38bdf8;
  color: #38bdf8;
}

/* Mobile */
@media (max-width: 768px) {
  .hero {
    height: 90vh;
  }

  .hero-content {
    margin-left: 0;
    text-align: center;
  }

  .hero-buttons {
    justify-content: center;
    flex-direction: column;
  }

  .hero-content h1 {
    font-size: 34px;
  }

  .hero-content h2 {
    font-size: 20px;
  }
}
