.projects {
  padding: 80px 20px;
  background-color: #020617;
}

.projects-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.project-card {
  background-color: #0f172a;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
}

.project-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
}

.project-card:hover {
  transform: translateY(-6px);
}

.project-card h3 {
  color: #38bdf8;
  margin-bottom: 10px;
}

.project-card p {
  flex-grow: 1;
  color: #e2e8f0;
  margin-bottom: 15px;
}

.tech-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.tech-stack span {
  background-color: #020617;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 14px;
}

.project-links {
  display: flex;
  gap: 15px;
}

.project-links a {
  text-decoration: none;
  color: #38bdf8;
  font-weight: bold;
}

/* Tablet */
@media (max-width: 992px) {
  .projects-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 576px) {
  .projects-container {
    grid-template-columns: 1fr;
  }
}
